blockquote {
  border-left-width: 3px;
  border-left-color: #95b0df;
}

blockquote > footer {
  width: 100%;
  text-align: right;
}

div.csl-entry {
  text-indent: -36px;
  padding-left: 36px;
}

div.definition {
  background-color: #f3f5f7;
  border-left: 2px solid #0F2D61;
  padding: 2px 4px 2px 10px;
  margin-bottom: 16px;
}

div.proposition {
  background-color: #f3f5f7;
  border: 2px solid #0F2D61;
  padding: 2px 4px 2px 10px;
  margin-bottom: 16px;
}

div.example {
  margin-bottom: 16px;
}

div.example::after {
  float: right;
  content: "▪";
}

span.definition > strong {
  display: inline-block;
  width: 100%;
}

span.proposition > strong {
  display: inline-block;
  width: 100%;
}

span.example > strong {
  color: #404040;
}
